<span class="bmm-event-label">Szerződés száma:</span><span class="bmm-event-data">{{ contract[0] }}</span>
<span class="bmm-event-label">Kelte:</span><span class="bmm-event-data"></span>{{ contract[1] }}</span>
<span class="bmm-event-label">Értéke:</span><span class="bmm-event-data"></span>{{ "{:,}".format(contract[2]).replace(",", " ") }}</span>
<span class="bmm-event-label">Szerződő fél:</span><span class="bmm-event-data"></span>{{ contract[3] }}</span>
<span class="bmm-event-label">Tárgy:</span><span class="bmm-event-data"></span>{{ contract[4] }}</span>
<div class="bmm-event-separator"></div>