<div>
    <span class="bmm-event-label" style="font-size: 1rem;font-weight: normal;">Szerződés száma:</span>
    <span class="bmm-event-data" style="font-size: 1rem;font-weight: bold;">{{ contract[0] }}</span>
</div>
<div>
    <span class="bmm-event-label" style="font-size: 1rem;font-weight: normal;">Kelte:</span>
    <span class="bmm-event-data" style="font-size: 1rem;font-weight: bold;">{{ contract[1] }}</span>
</div>
<div>
    <span class="bmm-event-label" style="font-size: 1rem;font-weight: normal;">Értéke:</span>
    <span class="bmm-event-data" style="font-size: 1rem;font-weight: bold;">{{ "{:,}".format(contract[2]).replace(",", " ") }}</span>
</div>
<div>
    <span class="bmm-event-label" style="font-size: 1rem;font-weight: normal;">Szerződő fél:</span>
    <span class="bmm-event-data" style="font-size: 1rem;font-weight: bold;">{{ contract[3] }}</span>
</div>
<div>
    <span class="bmm-event-label" style="font-size: 1rem;font-weight: normal;">Tárgy:</span>
    <span class="bmm-event-data" style="font-size: 1rem;font-weight: bold;">{{ contract[4] }}</span>
</div>
<div class="bmm-event-separator" style="width: 100%;border-bottom: #FF3366 solid 1px;"></div>